@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap');


:root{
    --color-background: #FEE2B3;
    --color-title: #562349;
    --color-subtitle: #AD6989;
    --color-message: #FFA299;

    --font-title: "Cabin"  ;  
    --font-message: "Modern Antiquity";
}

body{
    box-sizing: border-box;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--color-background);
    margin: 1em;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}

.title{   
    margin: 0.5em; 
    margin-top: 3em;    
    display: flex;
    color: var(--color-title);    
}

.button{
    padding: 1.5em;       
    font-size: 700;    
    color: var(--color-background);
    font-size: 1.5em;
    background-color: var(--color-title);
}

.baseboard{
    padding: 1em;
    margin: 1em;
    margin-top: 9em;
    

}
