@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Modern+Antiqua&family=Rubik:wght@400;900&display=swap');
@import url("Styles/header.css");
@import url("Styles/title.css");
@import url("Styles/button.css");
@import url("Styles/baseboard.css");


:root{
    --color-header: #1C0A00;
    --color-background: #603601;
    --color-button: #361500;

    --color-title: #CC9544;
    --color-subtitle: #FEF7DC;    
    --color-destaque: #E5890A;

    --font-tile: 'Rubik',;
    --font-subtitle: 'Cabin',;
    --font-message: 'Modern Antiqua',;    
}

body{      
    display: flex;    
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;     
    text-align: center;
    background-color: var(--color-background);
    color: var(--color-title);
    font-family: var(--font-tile);        
}

