@media screen and (min-width: 280px){
    .baseboard{  
        padding: 0.4em;       
        background-color: var(--header);
        color: var(--destaque);
        width: 100%; 
        font-size: 1.3em;
        text-align: center;
        margin: 0 auto; 
    }    
}
