.button_choice{
    cursor: pointer;
} 


@media screen and (min-width: 280px){
    li{
        list-style: none;
        margin: 0;
        padding: -10px;
    }
    .card_item{
        padding-bottom: 10px;
        width: 100%;
        
        
    }
    .button_choice{
        background-color: var(--button);
        color: var(--subtitle);
        font-family: var(--font-title);
        font-size: 1.4em; 
        width: 100%;
        padding: 9px;
    }    
}

