
li{
    list-style: none;
}
.card_item{
    padding-bottom: 12px;
    width: 100%;
}

@media screen and (min-width: 280px){
    .button_moticacional, .button_autoajuda, .button_biblia, .button_humor{     
        color: var(--subtitle);
        font-size: 1.4em; 
        background-color: var(--button);
        width: 100%;
    }    
}

@media screen and (min-width: 728px) {
    
}
  
@media screen and (min-width: 1200px) {
    
}