

@media screen and (min-width: 280px){
    .header{               
        background-color: var(--header);
        color: var(--subtitle);
        width: 100%;       
        font-size: 2.0em;
        text-align: center;
        padding: 15px;                       
    }
}

@media screen and (min-width: 728px) {
    
}
  
@media screen and (min-width: 1200px) {
    
}