

@media screen and (min-width: 280px){
    .title{  
        font-size: 2em;
        font-family: var(--font-title);
        
    }

    .title_2{
        font-size: 1.4em;
        text-align: left;
        color: var(--subtitle);
        font-family: var(--font-title);
        text-align: center;         
    }

    .title_item{
        color: var(--destaque);
    }
}

@media screen and (min-width: 728px) {
    
}
  
@media screen and (min-width: 1200px) {
    
}