

@media screen and (min-width: 280px){
    .title{  
        font-size: 1.6em;
        font-family: var(--font-title);
        
    }

    .title_2{
        font-size: 1.2em;        
        color: var(--destaque);
        font-family: var(--font-message);
        text-align: center;
    }

    .title_item{
        color: var(--destaque);
    }
}

@media screen and (min-width: 728px) {
    
}
  
@media screen and (min-width: 1200px) {
    
}